.about {
  background: var(--bg-gradient);
}

.about__bio {
  /* border: 2px solid var(--foreground); */
  border-radius: 0.5rem;
  /* padding: 2rem 1rem; */
  /* display: flex; */
  gap: 2rem;
  font-size: 1rem;
  line-height: 1.5;
}

.about__bio div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 1024px) {
  .about__bio {
    display: flex;
    flex-direction: row;
  }
}
