.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--foreground);
  margin: 1.75rem 0;
}

.header__title {
  text-transform: uppercase;
  user-select: none;
}

.header__logo {
  width: 15%;
}

.header__logo img {
  width: 100%;
  height: 100%;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__nav a {
  color: var(--foreground);
  font-size: 1.5rem;
}

.header__nav a:hover {
  color: var(--accent);
}

.header__nav a:visited {
  color: unset;
}

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
  }

  .header__nav {
    gap: 1.75rem;
  }

  .header__logo {
    width: 30%;
    height: 100%;
  }

  .header__nav a {
    font-size: 3rem;
  }
}
