@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #0e1011;
  --bg-gradient: linear-gradient(130deg, #0f0f10 0%, #171718da 100%);
  --foreground: #575858;
  --text: #dedede;
  --accent: #ffe81c;
  --accent-secondary: #1cffe8;
  --visited: #bf15ae;
  --trans-02s: all 0.2s ease;
  --trans-03s: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 90%;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Noto Sans", sans-serif;
}

#root {
  max-width: 80rem;
  margin: 0 auto;
}

section {
  padding: 1.5rem 1.75rem;
  margin-bottom: 2rem;
}

section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  background: var(--bg-gradient);
  padding: 0 5rem;
  border-radius: 20px;
}

section .title {
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  color: var(--text);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--trans-03s);
}

a:hover {
  color: var(--accent);
}

a:visited {
  color: var(--visited);
}

ul {
  list-style: none;
  color: inherit;
}

.bg_gradient {
  background: var(--bg-gradient);
}

.text_gradient {
  background: var(--text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-outline {
  border: 1px solid var(--foreground);
  padding: 1rem;
  width: 100%;
  max-width: 240px;
  border-radius: 1.5rem;
  transition: var(--trans-02s);
  background-color: transparent;
  color: var(--foreground);
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-outline:hover {
  background-color: transparent;
  border-color: var(--accent);
  color: var(--accent);
  transform: scale(0.95);
}
